/* Google font Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    /* position: relative; */
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

p {
    letter-spacing: 2px;
}
/* intro header */
#intro {
    background-color: #fff;
    color: #4d4949;
    text-align: center;
    padding: 10px;
}

/* food header images */
#food-image-hd{
    background: url(../images/pots-vegetables-harvest.jpg) center no-repeat;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
}

#food-image-hd div{
    margin: 1.5rem;
}

/* food images */
.img {
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: 20px 15px 10px #1b091b;
    width: 145px;
    height: 146px;
}

.img:last-child{
    margin-right: 10%;
}

/* images background */
.mex {
    background-image: url(../images/Mexican_food.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.italian {
    background-image: url(../images/italian.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.asian {
    background-image: url(../images/chinese.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.indian {
    background-image: url(../images/Indian.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.comfort {
    background-image: url(../images/burger.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.food-desc {
    text-align: center;
}

.search-btn {
    display: flex;
    align-items: center;
}

#search {
    background-color: #fff;
    border: none;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: #3b3838;
    font-size: 1.2rem;
    outline: none;
}

#search:hover {
    background-color:  #707209;
}

/* how to select */

#rules {
    text-align: center;
    font-family: cursive;
    font-weight: 200;
    color:#888;
    margin: 0 auto;
    width: 60%;
}

#nearby {
    font-family: cursive;
    font-weight: 200;
    color: #888;
    display: none;
}



/* dietary requirement h2 element */

#diet-fieldset {
    display:flex;
    flex-direction: column-reverse;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 10px;
}

#dietary-requirement, .vegetarian, .glutenFree {
    font-weight: 400;
    letter-spacing: .3rem;
}

#dietary input[type="checkbox"]{
    margin-bottom: 5px;
}


/* Restaurants near by container buttons */
.btn-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
}

/* Restaurant near by buttons */
.btn {
    background-color: rgb(48, 45, 45);
    border: none;
    color: #d9e2d9;
    font-size: 18px;
    outline: none;
    display: inline;
    margin: 0 30px 0 20px;
    padding: 10px 8px;
    border-radius: 8px;
    display: none;
}

.btn:hover {
    background-color: #000;
}

/* Main container where recipe is to be displayed */
#main-container {
    background: url(../images/main-section-background.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

/* Map container */
.map-container {
    border: 2px solid #c79cc5;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50%;
    margin: 50px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    box-shadow: 20px 15px 10px #443b44;
}

/* Map header */
#map-header {
    background-color: #330d32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
/* Map Title */
.map-title {
    font-size: 1rem;
}

/* Map content */
#map {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* Close map */
#close-map {
    font-size: 50px;
    cursor: pointer;
    color: #fff;
}

/* Hover state on close button */
#close-map:hover {
    color: #b8b2b2;
    transform: scale(1.1);
}

/* opacity */

.body-opacity {
    background-color: #808080;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    opacity: 0.8;
    display: none;
}

footer {
    /* position: absolute;
    bottom: 0; */
    background-color: #dfdede;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 4.5%; */
    width: 100%;
}

/** Recipe section **/
.recipe-section{
    max-height: 700px;
    overflow-y: scroll;
    width: 50%;
    text-align: center;
    padding: 10px;
}

#recipe-section-heading {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
}

.recipe-img {
    height:inherit;
    margin: 0 10px 0 0;
    border-radius: 10px;
}

.recipe-container {
    height: 80px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: left;
}

.recipe-link {
    color:  #000000;
    position: relative;
    top:-40px;
}

@media screen and (max-width:1366px){
    .img {
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 1.2rem;
        color: #fff;
        box-shadow: 20px 15px 10px #1b091b;
        width: 125px;
        height: 126px;
    }

    #search {
        background-color: black;
        border: none;
        height: 50px;
        width: 100px;
        border: none;
        border-radius: 10px;
        color: white;
    }

    #main-container {
        height: 70%;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:1024px) and (max-height:1366px){
    .img {
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 1.2rem;
        color: #fff;
        box-shadow: 20px 15px 10px #1b091b;
        width: 115px;
        height: 116px;
    }
    
    #search {
        background-color: black;
        border: none;
        height: 50px;
        width: 100px;
        border: none;
        border-radius: 10px;
        color: white;
    }

    .body-opacity {
       height:105vh;
    }

    #dietary{
        display: flex;
        flex-direction: column;
    }
}


/**Youtube Video Section**/
.video-section{
    max-height: 700px;
    overflow-y: scroll;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.video-container {
    height: 280px;
    width: 560px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: left;
}

#mexicanVid {
    display: none;
}

#italianVid {
    display: none;
}

#asianVid {
    display: none;
}

#indianVid {
    display: none;
}

#comfortFoodVid {
    display: none;
}

#videoRights {
    text-align: left;
    color: black;
    margin-left: 10px;
    display: none;
}

.video-item {
    width: inherit;
    height: inherit;
    display: inline;
}

@media screen and (max-width:1024px) {
    @media screen and (max-height: 768px){
        .body-opacity {
            height:130vh;
         }
    }
}

@media screen and (max-width: 600px) {
    #main-container {
        display: flex;
        flex-direction: column;
    }
    .video-section{
        max-height: 400px ;
        overflow-y: scroll;
        width: 95%;
    }
    .recipe-section{
        max-height: 400px;
        overflow-y: scroll;
        width: 100%;
    }
}

@media screen and (max-width:768px){
    @media screen and (max-height:1024px){
        .img {
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 1.2rem;
            color: #fff;
            box-shadow: 20px 15px 10px #1b091b;
            width: 80px;
            height: 81px;
        }
    
        #search {
            background-color: black;
            border: none;
            height: 50px;
            width: 100px;
            border: none;
            border-radius: 10px;
            color: white;
        }
    
        #dietary{
            display: flex;
            flex-direction: column;
            font-size: 0.9rem;
        }

        .body-opacity {
            height:110vh;
         }
    }   
}

@media screen and (max-width:375px){
    @media screen and (max-height:812px){

        #main-container {
            display: flex;
            flex-direction: column;
        }
        .intro {
            font-size: .8rem;
        }
        .img {
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: .8rem;
            color: #fff;
            width: 47px;
            height: 48px;
            box-shadow: unset;
        }
    
        #search {
            background-color: black;
            border: none;
            height: 50px;
            width: 100px;
            border: none;
            border-radius: 10px;
            color: white;
        }

        /* .food-pic{
            display:none;
        } */
    
        #dietary{
            display: flex;
            flex-direction: column;
            font-size: 12px;
            margin-top: -50px;
        }

         .map-container {
             width: 100%;
             height: 100%;
         }
    }
}


@media screen and (max-width:812px){
    @media screen and (max-height:375px){

        .intro{
            font-size: .8rem;
        }
       
        .img {
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: .8rem;
            color: #fff;
            width: 67px;
            height: 68px;
            box-shadow: unset;
        }
    
        #search {
            background-color: black;
            border: none;
            height: 50px;
            width: 100px;
            border: none;
            border-radius: 10px;
            color: white;
        }
    
        #dietary{
            display: flex;
            flex-direction: column;
            font-size: 12px;
            margin-top: -50px;
        }
        
         .map-container {
             width: 100%;
             height: 350px;
         }

         #map-header {
             display: flex;
             justify-content: space-between;
             align-items: flex-end;
             height: 20%;
             padding: 5px;
         }
                
         #times{
             height: 50px;
         }
    }
}
